body {
    background-color: rgb(145, 215, 228) !important; 
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    position: relative; 
}

.contadorIgual{
    justify-content: center;
    background-color: rgb(81, 139, 0);
    display: flex;
    align-items: center;
    border-radius: 26px;
    margin-left: 5%;
    margin-right: 1%;
    font-size: 1.9vh;
}

.contadorIncorrecto{
    justify-content: center;
    background-color: darkred;
    display: flex;
    align-items: center;
    font-size: 1.9vh;
    border-radius: 26px;
    margin-left: 1%; 
    margin-right: 5%;
}

.reiniciar{
    align-items: center;
    justify-items: center;
    display: flex;
    justify-content: center;
    background-color: #000000;
    padding: 10px;
    max-width: 35%;
    font-size: 2.3vh;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 20px;
    opacity: 1;
}
.mesclador {
    align-items: center;
    justify-items: center;
    display: flex;
    justify-content: center;
    background-color: #000000;
    padding: 10px;
    max-width: 35%;
    font-size: 2.3vh;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 20px;
    opacity: 1;
}

.contadorIgual, .contadorIncorrecto, .mesclador {
    min-width: 20%;
    min-height: 2%;
    max-width: 37%;
    max-height: 10%;
    margin-top: 3%;
}

.Cuadrado, .CuadradoD {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin-top: 10%;
    padding: 10px;
    width: 8vw;
    height: 8vw;
    font-size: 24px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 8px;
    opacity: 1;
    transform: transform 0.1s ease, background-color 10s ease, opacity 2s ease;
    animation: desaparecer-y-subir 0.5s ease-in-out;
}

@keyframes desaparecer-y-subir {
    0% {
    transform: translateY(0);
    }
    20%{
        opacity: 0.8;
        transform: translateY(-20%);
    }
    40%{
        opacity: 0.6;
        transform: translateY(-40%);
    }
    60%{
        opacity: 0.4;
        transform: translateY(-60%);
    }
    80%{
        opacity: 0.2;
        transform: translateY(-80%);
    }
    100% {
    opacity: 0;
    transform: translateY(100%);
    }
}

.Cuadrado:active,
.CuadradoD:active {
    opacity: 0;
    transition: opacity 2s ease; 
    
}

.Cuadrado:active,
.CuadradoD:active {
    transform: scale(0.95);
    background-color: rgba(0, 0, 0, 0.8); 
}

.Cuadrado::before, .CuadradoD::before {
    content: '';
    position: absolute;
    width: 10%;
    height: 10%;
    background-color: transparent;
    z-index: -1;
    transition: background-color 0.03s ease;
}

.Cuadrado:active::before,
.CuadradoD:active::before {
    width: 110%;
    height: 110%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
}

@media (max-width: 700px) {
    .column,.Cuadrado, .CuadradoD{
        margin-left: 0.3%;
        margin-right: 0.3%;
    }

}
@media (max-width: 680px) {
    .column,.Cuadrado, .CuadradoD{
        margin-left: 0.2%;
        margin-right: 0.2%;
    }
}
@media (max-width: 760px) {
    .contadorIgual{
        margin-left: 5%;
    }
}
@media (max-width: 760px) {
    .contadorIncorrecto{
        margin-right: 5%;
    }
}
@media (max-width: 740px) {
    .contadorIgual{
        margin-left: 4%;
    }
}
@media (max-width: 740px) {
    .contadorIncorrecto{
        margin-right: 4%;
    }
}
@media (max-width: 720px) {
    .contadorIgual{
        margin-left: 3%;
    }
}
@media (max-width: 720px) {
    .contadorIncorrecto{
        margin-right: 3%;
    }
}
@media (max-width: 700px) {
    .contadorIgual{
        margin-left: 2%;
    }
}
@media (max-width: 700px) {
    .contadorIncorrecto{
        margin-right: 2%;
    }
}
@media (max-width: 680px) {
    .contadorIgual{
        margin-left: 1%;
    }
}
@media (max-width: 680px) {
    .contadorIncorrecto{
        margin-right: 1%;
    }
}
@media (max-width: 670px) {
    .contadorIgual{
        margin-left: 0%;
        margin-right: 0%;
    }
}
@media (max-width: 670px) {
    .contadorIncorrecto{
        margin-left: 0%;
        margin-right: 0%;
    }
}


@media (max-width: 740px) {
    .column,.Cuadrado, .CuadradoD{
        margin-left: 0.1%;
        margin-right: 0.1%;
    }
}

@media (max-width: 1100px) {
    .Cuadrado, .CuadradoD{
        width: 10vw;
        height: 10vw;
    }
}
@media (max-width: 700px) {
    .Cuadrado, .CuadradoD{
        width: 13vw;
        height: 13vw;
    }
}

@media (max-width: 1200px) {
    .container{
        margin-top: 2%;
    }
}

@media (max-width: 1000px) {
    .container{
        margin-top: 4.5%;
    }
}
@media (max-width: 900px) {
    .container{
        margin-top: 5%;
    }
}

@media (max-width: 700px) {
    .Cuadrado, .CuadradoD{
        width: 13vw;
        height: 13vw;
    }
}

@media (max-width: 520px) {
    .column, .contadorIgual, .contadorIncorrecto, .mesclador, .Cuadrado, .CuadradoD {
        margin: 0%;
    }
}
@media (max-width: 520px) {
    .contadorIgual, .contadorIncorrecto, .mesclador, .Cuadrado, .CuadradoD {
        margin: 0%;
        margin-top: 25%;
        
    }
}
@media (max-width: 520px) {
    .contadorIgual, .contadorIncorrecto, .mesclador {
        min-height: 12vh;
        min-width: 18vw;
    }
}
@media (max-width: 520px) {
    .contadorIgual{
        margin-top: 120%;
    }
}

@media (max-width: 520px) {
    .Cuadrado, .CuadradoD {
        min-height: 12vh;
        min-width: 18vw;
    }
}
