body {
    background-color: rgb(145, 215, 228) !important; 
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    position: relative; 
}

.contadorIgual{
    justify-content: center;
    background-color: rgb(81, 139, 0);
    display: flex;
    align-items: center;
    max-height: 80px;
    width:100%;
    border-radius: 26px;
    margin-left: 5%;
    margin-right: 1%; 
}

.contadorIncorrecto{
    justify-content: center;
    background-color: darkred;
    display: flex;
    align-items: center;
    max-height: 80px;
    max-width: 80%;
    border-radius: 26px;
    margin-left: 1%; 
    margin-right: 5%;
}


.mesclador {
    align-items: center;
    justify-items: center;
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 10px;
    height: 80px;
    width:100%;
    font-size: 18px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 20px;
    opacity: 1;
}

.contadorIgual, .contadorIncorrecto, .mesclador {
    min-width: 100px;
}


.Cuadrado, .CuadradoD {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin-top: 10%;
    padding: 10px;
    width: 8vw;
    height: 8vw;
    font-size: 24px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 8px;
    opacity: 1;
    transform: transform 0.1s ease, background-color 10s ease, opacity 2s ease;
    animation: desaparecer-y-subir 0.5s ease-in-out;
}

@keyframes desaparecer-y-subir {
    0% {
    transform: translateY(0);
    }
    20%{
        opacity: 0.8;
        transform: translateY(-20%);
    }
    40%{
        opacity: 0.6;
        transform: translateY(-40%);
    }
    60%{
        opacity: 0.4;
        transform: translateY(-60%);
    }
    80%{
        opacity: 0.2;
        transform: translateY(-80%);
    }
    100% {
    opacity: 0;
    transform: translateY(100%);
    }
}

.Cuadrado:active,
.CuadradoD:active {
    opacity: 0;
    transition: opacity 2s ease; 
    
}

.Cuadrado:active,
.CuadradoD:active {
    transform: scale(0.95);
    background-color: rgba(0, 0, 0, 0.8); 
}

.Cuadrado::before, .CuadradoD::before {
    content: '';
    position: absolute;
    width: 10%;
    height: 10%;
    background-color: transparent;
    z-index: -1;
    transition: background-color 0.03s ease;
}

.Cuadrado:active::before,
.CuadradoD:active::before {
    width: 110%;
    height: 110%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
}

@media (max-width: 700px) {
    .column,.Cuadrado, .CuadradoD{
        margin-left: -1%;
        margin-right: -1%;
    }
    .contadorIgual, .contadorIncorrecto{
        margin: 1%;
    }
}

@media (max-width: 520px) {
    .container, .column, .contadorIgual, .contadorIncorrecto, .mesclador, .Cuadrado, .CuadradoD {
        margin: 0%;
    }
}
